@mixin root-variables {
  --bg-charcoal: #1DB954;
  --bg-bridge: #ebece8;
  --bg-white: #fff;

  --radius: 0.25rem;
  --shadow-elevation: 0px 16px 16px -16px rgb(0 0 0 / 35%);
  --opacity-disabled: 0.6;
  --font-medium: 500;
  --font-semibold: 600;
  --font-sans: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', helvetica, arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-title: 'MatterSQ', -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue',
  helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-mono: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', monospace;

  --blue: #597dce;
  --purple: #c278cf;
  --pink: #e26ca9;
  --red: #e26c6c;
  --orange: #e29c6c;
  --yellow: #e2e26c;
  --green: #6ce26c;
  --teal: #6ce2e2;
  --cyan: #6ce2e2;

}

@mixin play-button-position {
  position: absolute;
  top: 5rem;
  right: 1rem;

}

